<!DOCTYPE html>
<html>
<head>
    <title>To-Do Item</title>
</head>
<body>
    <h2>Add To-Do Item</h2>
    <form action="/add_item" method="post">
        <label for="item_name">Item Name:</label>
        <input type="text" id="item_name" name="item_name" required><br><br>
        
        <label for="item_desc">Item Description:</label>
        <input type="text" id="item_desc" name="item_desc" required><br><br>
        
        <input type="submit" value="Add Item">
    </form>
</body>
</html>